        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f8f8f8;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            padding: 20px;
            position: absolute;
            top: 0;
            left: 52%;
            transform: translateX(-50%);
        }
        h1 {
            margin: 0;
        }
        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
            padding: 0;
            margin: 0;
        }
        nav ul li {
            display: inline;
        }
        nav ul li a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 10px 15px;
        }
        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3vw;
            transform: scale(1.3);
        }
        .photo {
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
            background: url('photoMe.jpg') no-repeat center center/cover;
        }
        .info {
            text-align: center;
        }
        .info p, .info h2, .cv-button, .social-icons {
            margin: 0.5vw 0;
        }
        .cv-button {
            background-color: #ccc;
            border: none;
            padding: 1vw 2vw;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1.2vw;
            text-decoration: none;
            color: black;
            display: inline-block;
        }
        .social-icons {
            display: flex;
            justify-content: center;
            gap: 1vw;
        }
        .social-icons a img {
            width: 3vw;
        }